// colors
// global settings, config
// base font size

$dark-text: #212121;
$light-text:  rgb(250, 250, 250);
$default-font: 'Lato', Arial, Helvetica, sans-serif;
$primary-background: #3a47d5;
$primary-gradient: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);